body{
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    width: 700px;
    margin: auto;
    text-align: center;
}

fieldset{
    line-height: 2rem;
}

.code{
    text-align: center;
    margin-top: 1rem;
}

.msgError{
    color: red;
    font-weight: bold;
}