body{
    background-color: #f35a5ac5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: right;
}

form{
    margin: 1rem 0;
    text-align: right;
    font-size: .8rem;
    letter-spacing: .1rem;
}

#corpo{
    width: 800px;
    margin: auto;
    padding: 1.2rem;
    background-color: #fff;
    box-shadow: 0px 0px 30px #f55252;
}

.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.listagem tr{
    height: 3.1rem;
}

.listagem td{
    padding: .8rem;
}

.listagem tr:nth-child(even){
    background-color: #f06464;
}

listagem td:nth-child(3){
    width: 5.6rem;
}

p{
    text-align: center;
    margin-top: 2rem;
}

.button{
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.5rem;
}

.button:hover{
    background-color: #f35a5ac5;
    color: #fff;
    transition: .8s;
    border: none;
}

.lista{
    border: 1px solid #000;
    padding: 1rem;
    margin-bottom: .5rem;
}

.destaque{
    font-weight: bold;
}

.lista p{
    font-size: 1.6rem;
}

.link{
    text-decoration: none;
    color: #000;
}

.link:hover{
    text-decoration: underline;
}