body{
    background-color: #f35a5ac5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#corpo{
    width: 800px;
    margin: auto;
    padding: 1.2rem;
    background-color: #fff;
    box-shadow: 0px 0px 30px #f55252;
}

.listagem{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.listagem tr{
    height: 3.1rem;
}

.listagem td{
    padding: .8rem;
}

.listagem tr:nth-child(even){
    background-color: #f06464;
}

listagem td:nth-child(3){
    width: 5.6rem;
}

p{
    text-align: center;
    margin-top: 2rem;
}

a{
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.5rem;
}

a:hover{
    background-color: #f35a5ac5;
    color: #fff;
    transition: .8s;
}